@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* { padding: 0; margin: 0; scroll-behavior: smooth;}
body { font-family: 'Roboto', sans-serif;}

#facebody { height: 320vh; width: 100%; position: relative;}

#home { height: 100vh; width: 100%; position: absolute; background: url(../media/hotel-out.jpg) center no-repeat; background-size: cover;}
.background { height: 100vh; width: 100%; position: absolute; margin: 0; background: rgba(0, 0, 0, .7); }
.logo { height: 60px; width: 60px; position: absolute; margin: 20px 0 0 40px; background: url(../media/logo-white.png) center no-repeat; background-size: contain;}
nav { height: 35px; width: 44.140625%; position: sticky; top: 30px; margin: 0 0 0 50%; display: flex; justify-content: space-between;}
nav a { font-size: 30px; font-weight: 500; text-decoration: none; color: #fff;}
.headline { height: 116px; width: 606px; position: absolute; margin: 266px 0 0 calc(50% - 303px);}
.headline h1 { color: #FFF; font-size: 64px; font-weight: 500;}
.headline h2 { color: #FFF; font-size: 20px; font-weight: 400; text-align: center; margin-top: 10px;}
.book { height: 40px; width: 180px; position: absolute; margin: 410px 0 0 34.375%; background: #DC143C; border: rgba(220, 20, 60, 0) 3px solid; font-size: 30px; font-weight: 500; color: #FFF; text-decoration: none; text-align: center; padding-top: 4px; transition: all ease-in-out .4s;}
.info { height: 40px; width: 180px; position: absolute; margin: 410px 0 0 51.5625%; background: #DC143C; border: rgba(220, 20, 60, 0) 3px solid; font-size: 30px; font-weight: 500; color: #FFF; text-decoration: none; text-align: center; padding-top: 4px; transition: all ease-in-out .4s;}
.info:hover, .book:hover { height: 40px; background: none; border: #DC143C 3px solid; padding-top: 4px;}

#info { height: 100vh; width: 100%; position: absolute; margin: 100vh 0 0 0; background: #333333;}
.info-headline { font-size: 30px; font-weight: 500; color: #fff; position: absolute; margin: 70px 0 0 calc(50% - 152px);}
.adv-cont { height: 450px; width: 1180px; position: absolute; margin: 235px 0 0 calc(50% - 590px); display: flex; justify-content: space-between;}
.adv-cont div { height: 450px; width: 245px; position: relative;}
.adv-cont img { height: 150px; width: 150px; position: absolute; margin: 20px 0 0 50px;}
.adv-cont p { height: 160px; width: 230px; position: absolute; margin: 200px 0 0 10px; font-size: 20px; font-weight: 400; color: #FFF; text-align: center;}
.wave { width: 100%; position: absolute; margin: calc(100vh - 214.44px) 0 0 0;}

#gallery { height: 100vh; width: 100%; position: absolute; margin: 200vh 0 0 0; background-color: #DC143C; overflow: hidden;}
.slideshow-container { max-width: 800px; position: relative;margin: 200px 0 0 calc(50% - 400px);}
.mySlides { display: none; height: 500px;}
.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; margin-top: -22px; padding: 16px; color: #fff; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select: none; }
.next { right: 0; border-radius: 3px 0 0 3px; }
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8);}
.dot { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #fff; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease;}
.active, .dot:hover { background-color: #242323; }
.fade { animation-name: fade; animation-duration: 1.5s;}
@keyframes fade { from {opacity: .4} to {opacity: 1} }
.wave2 { width: 100%; position: absolute; margin: -198.44px 0 0 0;}

footer { height: 20vh; width: 100%; position: absolute; margin: 300vh 0 0 0; background: #333333;}
.logo-container { height: 10vh; width: 50%; position: absolute; margin: 5vh 0 0 25%; display: flex; justify-content: space-between;}
.logo-container img { height: 10vh; position: relative;}