@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* { padding: 0; margin: 0; scroll-behavior: smooth;}
body { font-family: 'Roboto', sans-serif; height: 120vh; overflow-y: scroll;}

#home { height: 100vh; width: 100%; position: absolute; background: url(../media/hotel-out.jpg) center no-repeat; background-size: cover;}

.background { height: 100vh; width: 100%; position: absolute; margin: 0; background: rgba(0, 0, 0, .7); }
.logo { height: 60px; width: 60px; position: absolute; margin: 20px 0 0 40px; background: url(../media/logo-white.png) center no-repeat; background-size: contain;}

nav { width: 565px; position: sticky; top: 30px; margin: 0 0 0 50%; display: flex; justify-content: space-between;}
nav a { font-size: 30px; font-weight: 500; text-decoration: none; color: #fff;}

.headline { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.headline h1 { color: #FFF; font-size: 64px; font-weight: 500;}
.headline h2 { color: #FFF; font-size: 20px; font-weight: 400; text-align: center; padding-top: 10px;}
.book { height: 40px; margin-right: 20px; background: #DC143C; border: rgba(220, 20, 60, 0) 3px solid; font-size: 30px; font-weight: 500; color: #FFF; text-decoration: none; line-height: 3em; transition: all ease-in-out .4s;}
.info { height: 40px; margin-left: 20px; background: #DC143C; border: rgba(220, 20, 60, 0) 3px solid; font-size: 30px; font-weight: 500; color: #FFF; text-decoration: none; line-height: 3em; transition: all ease-in-out .4s;}
.info:hover, .book:hover { height: 40px; background: none; border: #DC143C 3px solid;}

footer { height: 20vh; width: 100%; position: absolute; top: 100vh; background: #333333;}
.logo-container { height: 10vh; width: 50%; position: absolute; margin: 5vh 0 0 25%; display: flex; justify-content: space-between;}
.logo-container img { height: 10vh; position: relative;}

@media (max-width: 450px) {
    body { height: 110vh;}
    .logo { height: 40px; width: 40px; margin: 20px 0 0 10px;}
    .headline h1 { font-size: 32px; width: 310px;}
    .headline h2 { font-size: 10px;}
    nav { width: 220px; top: 32px; margin: 0 0 0 35%;}
    nav a { font-size: 14px; font-weight: 500;}
    .book { font-size: 15px; margin-right: 10px;}
    .info { font-size: 15px; margin-left: 10px;}
    footer { height: 15vh; }
    .logo-container img { height: 5vh;}
    .logo-container img { height: 5vh; position: relative;}
}